/*
=============== 
Fonts
===============
*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*
=============== 
Variables
===============
*/

:root {
  /* dark shades of primary color*/
  --clr-primary-1: hsl(205, 86%, 17%);
  --clr-primary-2: hsl(205, 77%, 27%);
  --clr-primary-3: hsl(205, 72%, 37%);
  --clr-primary-4: hsl(205, 63%, 48%);
  /* primary/main color */
  --clr-primary-5: hsl(205, 78%, 60%);
  /* lighter shades of primary color */
  --clr-primary-6: hsl(205, 89%, 70%);
  --clr-primary-7: hsl(205, 90%, 76%);
  --clr-primary-8: hsl(205, 86%, 81%);
  --clr-primary-9: hsl(205, 90%, 88%);
  --clr-primary-10: hsl(205, 100%, 96%);
  /* darkest grey - used for headings */
  --clr-grey-1: hsl(209, 61%, 16%);
  --clr-grey-2: hsl(211, 39%, 23%);
  --clr-grey-3: hsl(209, 34%, 30%);
  --clr-grey-4: hsl(209, 28%, 39%);
  /* grey used for paragraphs */
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-6: hsl(209, 23%, 60%);
  --clr-grey-7: hsl(211, 27%, 70%);
  --clr-grey-8: hsl(210, 31%, 80%);
  --clr-grey-9: hsl(212, 33%, 89%);
  --clr-grey-10: hsl(210, 36%, 96%);
  --clr-white: #fff;
  --clr-red-dark: hsl(360, 67%, 44%);
  --clr-red-light: hsl(360, 71%, 66%);
  --clr-green-dark: hsl(125, 67%, 44%);
  --clr-green-light: hsl(125, 71%, 66%);
  --clr-black: #222;
  --ff-primary: 'Roboto', sans-serif;
  --ff-secondary: 'Open Sans', sans-serif;
  --transition: all 0.3s linear;
  --spacing: 0.1rem;
  --radius: 0.25rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
  --fixed-width: 620px;
}

body {
  font-family: var(--ff-primary);
  background-color: var(--clr-primary-10);
  overflow-x: hidden;
}
main {
  overflow-x: hidden;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  padding: 30px;
}
h2 {
  font-size: 3rem;
  letter-spacing: var(--spacing);
  margin-bottom: 0;
}
#author,
#job,
#info {
  display: flex;
  justify-content: center;
}
.underline {
  margin: 0 auto;
  background-color: var(--clr-primary-5);
  width: 85px;
  height: 5px;
  margin-bottom: 50px;
}
article {
  background-color: #ffffff;
  max-width: 600px;
  width: 100%;
  border-radius: 10px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
h4,
p {
  font-family: var(--ff-secondary);
}
#job {
  text-transform: uppercase;
  color: var(--clr-primary-4);
  font-size: 13px;
  margin-top: 0;
}
#author {
  letter-spacing: var(--spacing);
  margin-bottom: 0;
}
#info {
  font-family: var(--ff-secondary);
  color: var(--clr-primary-1);
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 20px;
  text-align: center;
  line-height: 1.7;
}

.img-container::before {
  content: '';
  width: 100%;
  height: 100%;
  background: var(--clr-primary-5);
  position: absolute;
  top: -0.25rem;
  right: -0.5rem;
  border-radius: 50%;
  z-index: 1;
}
.img-container {
  width: 150px;
  height: 150px;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 25px;
  border-radius: 50%;
  position: relative;
}
img {
  z-index: 2;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  position: relative;
}
.btn-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  margin-top: 20px;
}
.prev-btn,
.next-btn {
  font-family: var(--ff-primary);
  border: none;
  background-color: transparent;
  color: var(--clr-primary-4);
  cursor: pointer;
  font-size: 20px;
}
.random-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin-bottom: 30px;
}
.random-btn {
  padding: 5px;
  background-color: var(--clr-primary-9);
  border-radius: 5px;
  font-family: var(--ff-primary);
  font-size: 14px;
  border: 2px solid var(--clr-primary-3);
}
